<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devsuda.abubakr.ma7anak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="قائمة الاجراءات"
            android:name=".ProcessesListAcitivity"></activity>
        <activity
            android:label="أماكن الاجراء"
            android:name=".PlacesListAcitivity"></activity>
        <activity
            android:label="أماكن الاجراء"
            android:name=".PlaceInfo"></activity>
    </application>

</manifest>